:host {
  display: block;
  height: 100%;
}

#scheduler {
  width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Pour éviter tout débordement inutile */
}

.app-container {
    display: flex;
    justify-content: space-between;
}

#rightColumn:not(:empty) {
    display: flex;
    width: 100%;
    transition: width 0.3s ease-in-out;
}

.scheduler-container {
    flex-grow: 1;
}
.reservation-details {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;

  h1 {
    color: #27CA37;
    font-family: Roboto, sans-serif;
    margin: 10px 0 10px 0;
  }
}

.orange-separator {
  height: 1px;
  background-color: #FFF0D8;
  width: 90%;
}

.event-date {
  font-weight: bold;
  color: black;
  font-size: 1.2rem;
  margin: 10px 0 10px 0;
}

.event-materiel {
  font-weight: bold;
  color: black;
  font-size: 1.2rem;
}

.user-name {
  font-weight: 600;
  color: black;
  font-size: 1.1rem;
}

.align-left {
  text-align: left;
  align-self: flex-start;
  margin-left:10%;
  margin-top: 10px;
  margin-bottom: 5px;
}

.btn-delete {
  background-color: red;
  color: white;
  margin: 10px;
}

.btn-edit {
  background-color: #FFF0D8;
  color: white;
  margin: 10px;
}
.btn-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn-delete, .btn-edit {
  border-radius: 5px;
  padding: 1rem;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.filter-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filter-label {
  margin: 10px 0 10px 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(100, 1vh);
}
.one {
  grid-column: 1 / 25;
  grid-row: 1 / 7;
  display: flex;
  align-items: start;
  justify-content: start;
}
.two {
  grid-column: 1 / 6;
  grid-row: 7 / 17;
  display: flex;
  align-items: center;
  justify-content: center;
}
.three {
  grid-column: 6 / 19;
  grid-row: 7 / 17;
}
.four {
  grid-column: 1 / 19;
  grid-row: 17 / 95;
}
.five {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 80%;
  z-index: 1000;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.slider {
  margin-left: 10px;
}
