$cell-border-color: #E9EAEB;
$border-color: #D8D9DA;

.header {
  display: grid;
}
.gridRow {
  display: grid;
}
.resourceNameCell {
  grid-column: 1/2;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  border-left: 1px solid $border-color;
  background: #F3F4F5;
  color: #606263;
}

.gridCell {
  background: red;
}

.reservationCell {
  background: transparent;
  padding: 4px 2px 4px 2px;
}

.reservationContentCell {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #CDF8CE;
  text-align: center;
  cursor: pointer;
  height: 100%;
  color: #606364;
}

.resourceHeaderCell {
  grid-row: 1/2;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;;
  background: #F3F4F5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resourceHeaderCellContent {
  background: transparent;
  color: #606263;
}

.dateHeaderCell {
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  background: #F3F4F5;
}

.dateHeaderCellContent {
  text-align: center;
  background: transparent;
  color: #606263;
}

.lineCell {
  border-right: 1px solid $cell-border-color;
  border-bottom: 1px solid $cell-border-color;
}

.scheduler {
  margin-top: 50px;
  margin-left: 10px;
}

.filterResource {
  display: flex;
}

.btn {
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
