:host {
  display: block;
  height: 100%;
}

#scheduler {
  width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Pour éviter tout débordement inutile */
}

.app-container {
    display: flex;
    justify-content: space-between;
}

#rightColumn:not(:empty) {
    display: flex;
    width: 100%;
    transition: width 0.3s ease-in-out;
}

.scheduler-container {
    flex-grow: 1;
}
.reservation-details {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;

  h1 {
    color: #27CA37;
    font-family: Roboto, sans-serif;
  }
}

.orange-separator {
  height: 1px;
  background-color: #FFF0D8;
  width: 90%;
}

.event-date {
  font-weight: bold;
  color: black;
  font-size: 1.2rem;
}

.event-materiel {
  font-weight: bold;
  color: black;
  font-size: 1.2rem;
}

.user-name {
  font-weight: 600;
  color: black;
  font-size: 1.1rem;
}

.align-left {
  text-align: left;
  align-self: flex-start;
  margin-left:16%;
  margin-top: 10px;
  margin-bottom: 5px;
}

.btn-delete {
  background-color: red;
  color: white;
  margin: 10px;
}

.btn-edit {
  background-color: #FFF0D8;
  color: white;
  margin: 10px;
}
.btn-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-top: 10px;
}

.btn-delete, .btn-edit {
  border-radius: 5px;
  padding: 1rem;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.filter-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filter-label {
  margin: 10px 0 10px 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(45, 1fr);
}
.one {
  grid-column: 1 / 25;
  grid-row: 1 / 5;
  background: #FFF0D8;
}
.two {
  grid-column: 1 / 6;
  grid-row: 5 / 9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.three {
  grid-column: 6 / 19;
  grid-row: 5 / 9;
}
.four {
  grid-column: 1 / 19;
  grid-row: 9 / 45;
}
.five {
  grid-column: 19 / 25;
  grid-row: 6 / 45;
}

.validate-button {
  margin-top: 10px;
}

.slider {
  margin-left: 20px;
}
