<div class="filter-panel">
    <bryntum-button (onClick)="filterResourcesWithEvents()" text="Matériels reservés"></bryntum-button>
    <select [(ngModel)]="selectedResource" (change)="filterByResource()">
        <option *ngFor="let resource of resources" [value]="resource.id">{{resource.name}}</option>
    </select>
</div>
<div class="app-container">
    <div class="scheduler-container" id="scheduler"></div>
    <div *ngIf="selectedEvent" id="rightColumn" class="reservation-details">
       <ng-container *ngIf="!editMode">
           <h1 >Détails réservation</h1>
           <div class="orange-separator"></div>
           <p class="event-date">Du {{selectedEvent.startDate | date:'dd/MM/yyyy'}} - {{selectedEvent.startDate | date:'HH:mm'}}<br>
               au {{selectedEvent.endDate | date:'dd/MM/yyyy'}} - {{selectedEvent.endDate | date:'HH:mm'}}
           </p>
           <p class="event-name">{{selectedEvent.name}}</p>
           <p class="align-left user-name">Réservation pour {{ selectedEvent.username }}<br>06.00.00.00.00</p>
           <p class="event-reservation-date align-left">
               Reservation faite le:<br> {{selectedEvent.dateReservation | date:'dd/MM/yyyy'}} à {{selectedEvent.dateReservation | date:'HH:mm'}}
           </p>
           <p class="align-left">Volume de travail:<br>10 Ha</p>
           <p class="align-left">Responsable:<br>Alex<br>06.00.00.00.00</p>
           <p class="align-left">Dernière réservation par:<br>Léo </p>
           <div class="btn-container">
               <bryntum-button (onClick)="deleteEvent(selectedEvent)" text="Supprimer" [color]="'b-red'"></bryntum-button>
               <bryntum-button (onClick)="editEvent(selectedEvent)" text="Modifier" [color]="'b-green'"></bryntum-button>
           </div>
       </ng-container>
        <ng-container *ngIf="editMode">
            <h1 class="form-title">Modifier la réservation</h1>
            <div class="orange-separator form-separator"></div>
            <span class="align-left">Début:</span>
            <bryntum-date-time-field  id="startDate" name="startDate" [value]="selectedEvent.startDate" (onChange)="onDateChange($event)" class="b-align-start"></bryntum-date-time-field><br>
            <span class="align-left">Fin:</span>
            <bryntum-date-time-field id="endDate" name="endDate" [value]="selectedEvent.endDate" (onChange)="onDateChange($event)" class="b-align-start"></bryntum-date-time-field><br>
          <span class="align-left">Matériel:</span>
          <bryntum-combo [items]="resources" [width]=355 displayField="name" valueField="id" (onChange)="onResourceChange($event)" [value]="selectedEvent.resource" [multiSelect]=false></bryntum-combo>
          <span class="align-left">Article:</span>
          <bryntum-combo [items]="['article 1', 'article 2', 'article 3']" [width]=355 [multiSelect]=false></bryntum-combo>
          <span class="align-left">Quantité:</span>
          <span><bryntum-number-field [min]="0"></bryntum-number-field><bryntum-combo [items]="['Ha', 'He']" [multiSelect]=false></bryntum-combo></span>
          <bryntum-button (onClick)="updateEvent()" text="Valider"></bryntum-button>
        </ng-container>
    </div>
</div>
