
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$my-custom-accent: (
        50: #e0f6f2,
        100: #b3e9dd,
        200: #80dbc7,
        300: #4dcdb1,
        400: #26c2a0,
        500: #00b78f,
        600: #00b087,
        700: #00a77c,
        800: #009f72,
        900: #009060,
        A100: #bcffe5,
        A200: #89ffd1,
        A400: #56ffbd,
        A700: #3cffb3,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$my-custom-warn: (
        50: #f6e4e4,
        100: #e9bbbb,
        200: #db8e8e,
        300: #cd6060,
        400: #c23e3e,
        500: #b71c1c,
        600: #b01919,
        700: #a71414,
        800: #9f1111,
        900: #900909,
        A100: #ffbebe,
        A200: #ff8b8b,
        A400: #ff5858,
        A700: #ff3f3f,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$my-custom-primary: (
        50: #e1f1f9,
        100: #b3dbf1,
        200: #81c4e8,
        300: #4eacdf,
        400: #289ad8,
        500: #0288d1,
        600: #0280cc,
        700: #0175c6,
        800: #016bc0,
        900: #0158b5,
        A100: #deecff,
        A200: #abceff,
        A400: #78b1ff,
        A700: #5ea2ff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angularcustompalette-primary: mat.define-palette($my-custom-primary);
$angularcustompalette-accent: mat.define-palette($my-custom-accent);

// The warn palette is optional (defaults to red).
$angularcustompalette-warn: mat.define-palette($my-custom-warn);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angularcustompalette-theme: mat.define-light-theme((
        color: (
                primary: $angularcustompalette-primary,
                accent: $angularcustompalette-accent,
                warn: $angularcustompalette-warn,
        )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angularcustompalette-theme);
