body,
html {
  margin         : 0;
  display        : flex;
  flex-direction : column;
  font-size      : 0.9rem;
  background: mistyrose;
  font-family: Roboto, sans-serif;
}
app-root {
  flex : 1 1 100%;
}
